@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* *{
    margin:0;
    padding:0;
} */
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1000px;
    margin:0 150px;
}
.btn-primary{
    padding: 10px;
    color:#FFF;
    background-color: #FF900E;
    border-radius: 4px;
    border: none;
}
p{
    color:#727272;
    font-weight: 50px;
    font-size: 12px;
    line-height: 20px;

}
/* header part styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
}
nav{
    display:flex;
    justify-content: space-between;
}
nav h3{
    font-weight: 700;
}
nav ul{
    display: flex;
    gap: 10px;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #424242;
}
.banner{
    text-align: center;
}
.banner img{
    width: 1000px;
    padding: 40px 0;
}
/* main part styles */
.feature{
   padding: 50px 40px;
   display: flex;
   align-items: center;
   gap: 50px;
}
.feature img{
    width: 180px;
    height: 180px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:8px;
}
/* .feature-about{
    text-align: center;
} */
.feature-about h1{
    padding-top:600px;
}
.feature-about p{
    font-weight: 200px;
}
/* ei part er disgin ami sobar pore korechi */






.orginal{
    display: flex;
    gap: 50px;
}
.love-enjoy h3{
    padding-left: 20px;
}
.love-enjoy .rule-1{
    margin-top: 10px;
    padding:12px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 10px #e1dada;
}
.love-enjoy .rule-2{
    margin-top: 10px;
    padding:12px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 10px #e1dada;

}
.love-enjoy .rule-3{
    margin-top: 10px;
    padding:12px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 10px #e1dada;
}
.love-enjoy .rule-4{
    margin-top: 10px;
    padding:12px 20px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 10px #e1dada;
}
.orginal .corian-pic img{
    width: 500px;
    height: 700px;
}
.corian-pic .btn-primary{
    padding: 27px 20px;
    text-align: center;
}
.corian-pic .btn-primary span{
    font-weight: 800;
    font-size: 25px;
    text-align: center;

}









/* projects part style */

.project-details{
    display: flex;
    justify-content: space-between;
    padding:70px 50px;
}
.project-details div{
    border: 2px solid #FF900E;
    height: 150px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
}
.project-details div .para{
    font-weight: 100;
    font-size: 15px;
}
.sponsor{
    text-align: center;
}
.spon-logo{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.spon-logo img{
    width:100px;
}
/* footer part style */

footer{
    background-color: #FFF4E7;
    margin: 50px 0;
}
footer p{
    text-align: center;
    height: 50px;
    padding-top: 30px;
}

